<div id="home">
  <h1 id="title">Picdora</h1>

  <div id="instructions">
    <p>Choose categories and settings then press go</p>
    <p>Press any key to change pictures</p>
    <p>Toggle fullscreen with 'f'</p>
  </div>

  <div id="options">
    <div id="categories_container">
      <h3 class="ui-widget-header ui-corner-all">Categories</h3>

      <div id="categories_content">

        <% @nsfw_subreddits.each do |subreddit| %>
            <input type="checkbox" class="nsfw_sub" id="<%= subreddit %>"/><label for="<%= subreddit %>"><%= subreddit %></label>
        <% end %>

        <% @sfw_subreddits.each do |subreddit| %>
            <input type="checkbox" class="sfw_sub" id="<%= subreddit %>"/><label for="<%= subreddit %>"><%= subreddit %></label>
        <% end %>
      </div>
    </div>

    <div id="settings_container">
      <h3 class="ui-widget-header ui-corner-all">Settings</h3>

      <div id="settings_content">


        <div id="nsfw_option" class="settings">
          <input type="checkbox" id="nsfw_check"/><label for="nsfw_check">NSFW</label>
        </div>

        <div id="gif_option" class="settings">
          <input type="checkbox" id="gif_check"/><label for="gif_check">GIF's</label>
        </div>

        <div id="slideshow_option" class="settings">
          <input type="checkbox" id="slideshow_check"/><label for="slideshow_check">Slideshow</label>

          <div id="time_slider">
            <p>
              <label for="time">Time:</label>
              <input type="text" id="time" style="border: 0; color: #f6931f; font-weight: bold;"/>
            </p>

            <div id="slider-range-min"></div>
          </div>
        </div>

      </div>

      <div id="start">
        <input type="submit" id="start_button" value="Go!"/>
      </div>

    </div>



  </div>
</div>


<div id="viewer"></div>


<script>
    var images = [];
    var isMobile = jQuery.browser.mobile;
    var view = $('#viewer');
    var displayer = new ImageDisplayer(view, isMobile, recycleImg);
    var settings = new SettingsManager();
    var loader;
    var first = true;


    $(function () {
        // style check boxes
        $(':checkbox, #start_button').button();

        // setup time slider for slideshow option
//        $('#slideshow_check').change(function () {
//            $('#time_slider').toggle('blind');
//        });

        $(function () {
            $("#slider-range-min").slider({
                range: "min",
                value: 4,
                min: 1,
                max: 10,
                slide: function (event, ui) {
                    $("#time").val(ui.value + " seconds");
                }
            });
            $("#time").val($("#slider-range-min").slider("value") + " seconds");
        });

        // start slider hid with option unchecked
        $('#time_slider').hide();

        $('#start_button').click(start);

        // load settings from cookies
        settings.load();
    });



    function start() {
        // save settings to cookies
        settings.save();

        var subreddits = [];
        $('input:checked').each(function () {
            subreddits.push($(this).attr('id'));
        });
        var c = $('#gif_check').is(':checked');
        $.ajax({
            url: "http://localhost:3000/images/subreddits",
            data: {"subs": subreddits, gifs: $('#gif_check').is(':checked')}
        })
                .done(function (data) {

                    for (var index in data) {
                        images.push(data[index]);
                    }

                    loader = new ImageLoader(images);


                    $(document).bind('keydown touchend', keyPressed);

                    $(window).bind('orientationchange resize', function () {
                        displayer.redraw();
                    });

                    // Hide controls
                    $('#home').hide();

                    // Start showing pictures
                    changePicture();

                });
    }


    function keyPressed(e) {
        if (e.keyCode === 70) {
            view.fullScreen();
        } else {
            changePicture();
        }

    }

    function recycleImg(image) {
        loader.useImage(image);
    }


    function changePicture() {

        if (first) {
            first = false;
            $('body').css('background-color', 'black');
            $('html').css({cursor: 'none'});

            // setup cursor hiding
            var j, justHidden;
            $(document).bind('mousemove', function () {
                if (!justHidden) {
                    justHidden = false;
                    clearTimeout(j);
                    $('html').css({cursor: 'default'});
                    j = setTimeout(hide, 1000);
                }
            });
            function hide() {
                $('html').css({cursor: 'none'});
                justHidden = true;
                setTimeout(function () {
                    justHidden = false;
                }, 500);
            }

            // start automatically changing
//            setInterval(function () {
//                changePicture();
//            }, 3000);
        }

        displayer.setImage(loader.nextImage());
    }
</script>

