<div id="home">
  <div id="header">
    <h1 id="title">Picdora</h1>
    <input type="submit" id="instructions_button" value="Instructions"/>
  </div>

  <div id="instructions_dialog" title="Instructions">
    To get started...
    <ul>
      <li>Choose settings and categories and press Go!</li>
      <li>Press any key to change pictures</li>
    </ul>
    Settings:
    <ul>
      <li>NSFW - Toggle nsfw categories</li>
      <li>Gifs - Show only gifs</li>
      <li>Slideshow - Automatically change pictures every few seconds</li>
    </ul>
    Controls:
    <ul>
      <li>f - Toggles fullscreen</li>
      <li>Esc - Returns you to the main menu</li>
      <li>i - Reverse image lookup</li>
    </ul>
  </div>

  <div id="options">


    <div id="settings_container">
      <h3 class="ui-widget-header ui-corner-all">Settings</h3>

      <div id="settings_content">

        <div id="nsfw_option" class="settings">
          <input type="checkbox" id="nsfw_check"/><label for="nsfw_check">NSFW</label>
        </div>

        <div id="gif_option" class="settings">
          <input type="checkbox" id="gif_check"/><label for="gif_check">GIF's</label>
        </div>

        <div id="slideshow_option" class="settings">
          <input type="checkbox" id="slideshow_check"/><label for="slideshow_check">Slideshow</label>
        </div>

        <div id="time_slider">
          <p>
            <label for="time">Time:</label>
            <input type="text" id="time" style="border: 0; color: #f6931f; font-weight: bold;"/>
          </p>

          <div id="slider-range-min"></div>
        </div>

      </div>
    </div>

    <div id="categories_container">
      <h3 class="ui-widget-header ui-corner-all">Categories</h3>

      <div id="categories_content">
        <div id="nsfw_categories">
          <% @nsfw_subreddits.each do |subreddit| %>
              <input type="checkbox" class="category nsfw_category" id="<%= subreddit %>"/><label for="<%= subreddit %>"><%= subreddit %></label>
          <% end %>
        </div>

        <div id="sfw_categories">
          <% @sfw_subreddits.each do |subreddit| %>
              <input type="checkbox" class="category sfw_category" id="<%= subreddit %>"/><label for="<%= subreddit %>"><%= subreddit %></label>
          <% end %>
        </div>
      </div>
    </div>


    <div id="start">
      <input type="submit" id="start_button" value="Go!"/>
    </div>
  </div>
</div>

<!-- Work around styling to center loading div -->
<div id="loading_container">
  <div style="display: table-cell; vertical-align: middle;">
    <div id="loading"></div>
  </div>
</div>

<div id="viewer"></div>

<div id="none_error"></div>


<script>
    var isMobile = jQuery.browser.mobile;
    var $view = $('#viewer');
    $view.hide();

    var displayer = new ImageDisplayer($view, isMobile, recycleImg);
    var settings = new SettingsManager();
    var loader = new ImageLoader();
    var slideshow_int;
    var loadingWidget = new LoadingWidget($('#loading'));


    $(function () {
        // style buttons
        $('input').button();

        $("#instructions_dialog").dialog({
            modal: true,
            autoOpen: false
        });

        // instructions click callback
        $('#instructions_button').click(function () {
            $("#instructions_dialog").dialog("open");
        });


        // setup time slider for slideshow option
//        $('#slideshow_check').change(function () {
//            $('#time_slider').toggle('blind');
//        });
//
//        $(function () {
//            $("#slider-range-min").slider({
//                range: "min",
//                value: 4,
//                min: 1,
//                max: 10,
//                slide: function (event, ui) {
//                    $("#time").val(ui.value + " seconds");
//                }
//            });
//            $("#time").val($("#slider-range-min").slider("value") + " seconds");
//        });

        // start slider hid
        $('#time_slider').hide();

        // add callback to toggle nsfw categories
        $('#nsfw_check').change(function () {
            // if the nsfw is checked show them and hide sfw
            if ($(this).is(':checked')) {
                $('#sfw_categories').hide("blind", {"complete": function () {
                    $('#nsfw_categories').show("blind");
                }});


            }

            else {
                $('#nsfw_categories').hide("blind", {"complete": function () {
                    $('#sfw_categories').show("blind");
                }});
            }
        });

        $('#start_button').click(start);

        // load settings from cookies
        settings.load();

        // set settings to save on unload
        $(window).unload(function () {
            settings.save();
        });
    });

    var j, justHidden;
    function checkCursor() {
        if (!justHidden) {
            justHidden = false;
            clearTimeout(j);
            $('html').css({cursor: 'default'});
            j = setTimeout(hide, 1000);
        }
    }
    function hide() {
        $('html').css({cursor: 'none'});
        justHidden = true;
        setTimeout(function () {
            justHidden = false;
        }, 500);
    }


    function start() {
        // Hide controls
        $('#home').hide();
        $('body').css('background-color', 'black');
        $('html').css({overflow: 'hidden'});
        loadingWidget.start();


        // save settings to cookies
        settings.save();

        var subreddits = [];
        if ($('#nsfw_check').is(':checked')) {
            $('.nsfw_category').filter(':checked').each(function () {
                subreddits.push($(this).attr('id'));
            });
        } else {
            $('.sfw_category').filter(':checked').each(function () {
                subreddits.push($(this).attr('id'));
            });
        }

        $.ajax({
            url: "<%=request.original_url%>/images/subreddits",
            data: {"subs": subreddits, gifs: $('#gif_check').is(':checked')}
        })
                .done(function (data) {
                    var images = [];
                    for (var index in data) {
                        images.push(data[index]);
                    }

                    // if no images match the request
                    if (images.length === 0) {
                        loadingWidget.stop();
                        noneError($('#none_error'));
                        finish();
                        return;
                    }

                    loader.setImageList(images, function () {
                        $(document).bind('keydown touchend', keyPressed);

                        $(window).bind('orientationchange resize', function () {
                            displayer.redraw();
                        });


                        // setup cursor hiding
                        $(document).bind('mousemove', checkCursor);
                        $('html').css({cursor: 'none'});

                        // check for slideshow mode
                        if ($('#slideshow_check').is(":checked")) {
                            slideshow_int = setInterval(function () {
                                changePicture();
                            }, 5000);
                        }

                        // Start showing pictures
                        loadingWidget.stop();
                        $view.show();
                        changePicture();
                    });
                });
    }

    function finish() {
        displayer.reset();
        $view.hide();
        $('#home').show();

        $('body').css('background-color', 'white');
        $('html').css({overflow: 'visible'});

        slideshow_int && clearInterval(slideshow_int);
        clearTimeout(j);

        $(document).unbind('mousemove', checkCursor);
        $(document).unbind('keydown touchend', keyPressed);
        $('html').css({cursor: 'default'});

    }


    function keyPressed(e) {
        switch (e.keyCode) {
            // 'f'
            case 70:
                $view.fullScreen();
                break;
            // 'esc'
            case 27:
                finish();
                break;
            // 'i'
            case 73:
                imageLookup();
                break;
            default:
                changePicture();
                break;
        }
    }

    function recycleImg(image) {
        loader.useImage(image);
    }


    function changePicture() {
        displayer.setImage(loader.nextImage());
    }

    function noneError($div) {


        $div.empty().show();

        var $textSpan = $(document.createElement('span'));
        $textSpan.text("Sorry... No images match that :(");
        $div.append($textSpan);

        var left = (window.innerWidth / 2) - $div.width() / 2;
        var top = (window.innerHeight / 2) - $div.height() / 2;
        $div.css({
            left: left,
            top: top
        });


        setTimeout(function () {
            $div.empty().hide();
        }, 1000);
    }

    function imageLookup() {
        var img = displayer.getCurrentImageUrl();

        if (img) {
            var url = 'https://www.google.com/searchbyimage?&image_url=' + img;
            window.open(url);
        }
    }
</script>

